<div class="container centered">
  <div class="col-md-12">
    <h2>New post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSaveForm()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input type="text" id="content" class="form-control" formControlName="content">
      </div>
        <button class="btn btn-success" 
                [disabled]="postForm.invalid" 
                type="submit">Submit
        </button>
        &nbsp;
        <button class="btn btn-danger" 
                routerLink="/posts" 
                type="submit">Cancel
        </button>
    </form>
  </div>
</div>