<li [ngClass]="{'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0}">
    <div class="row">
        <div class="col-sm-6">
            <h4> {{ post.title }}</h4>
            <!-- <h5>{{ post.loveIts}} Love it's </h5> -->
            <p class="text-muted">{{ post.loveIts}} Love it's </p>
        </div>
        <span class="col-sm-6 text-right">
            <i>{{ post.created_at | date: 'EEEE, MMMM d yyyy H:mm '}} </i>
        </span>
    </div>
    <p> <i> {{ post.content }} </i> </p>
    <div class="row">
        <div class="col-md-6">
            <table>
                <tr>
                    <td>
                        <button class="btn btn-success" (click)="onClickLoveIt(post)">
                            Love it!
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="onClickDontLoveIt(post)">
                            Don't love it!
                        </button>

                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-danger" (click)="onDelete(post)">
                Delete post
            </button>
        </div>
    </div>
</li>