<h2>
  Posts
</h2>
  <ul class="list-group" style="list-style: none;">
      <app-post-list-item  *ngFor="let post of postsArray"
                            [post]="post">
      </app-post-list-item>
  </ul>
